// Start Services & Blog
.footer {
    background-color: $sharkGeryColor;
    padding-top: $padding-top;
    position: relative;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;

        .col {
            h3 {
                a {
                    padding: 5px;
                    text-decoration: none;
                    font-size: 28px;
                    font-weight: bold;
                    color: $sunOrangeColor;
                    letter-spacing: 3px;
                    line-height: 2;
                    text-transform: uppercase;
                    border: 1px solid $sharkGeryColor;
                }
                margin: 0 0 20px;
            }
            h4 {
                color: #fff;
                font-size: 22px;
                margin: 0 0 20px;
            }
            .text {
                color: #777;
                line-height: 1.5;
            }

            .links {
                padding: 0;
                li {
                    padding: 15px 0;
                    list-style: none;

                    &:not(:last-child) {
                            border-bottom: 1px solid #444;
                        }
                    a {
                        text-decoration: none;
                        transition: .3s;
                        color: white;
                        &:before {
                            font-family: "Font Awesome 5 Free";
                            content: "\F101";
                            font-weight: 900;
                            margin-right: 10px;
                            color: $sunOrangeColor;
                        }
                    }
                    &:hover {
                        a {
                            padding-left: 10px;
                            color: $sunOrangeColor;
                        }
                    }
                }
            }
            .social {
                display: flex;
                padding: 0;

                li {
                    list-style: none;
                    &:hover {
                        a {
                            background-color: $sunOrangeColor;
                        }
                    }
                    a {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $baseGeryColor;
                        margin: 10px;
                        color: #b9b9b9;
                        width: 30px;
                        height: 30px;
                        font-size: 20px;
                        transition: .3s;
                        border-radius: 50px;
                        
                        i {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .copyeright {
        padding: 25px 0;
        margin: auto;
        text-align: center;
        color: white;
        border-top: 1px solid $baseGeryColor;
        i {
            color: crimson;
        }
    }
}

// End Services & Blog