.header {
    height: 72px;
    
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    
        .logo {
            @media #{$maxSmall} {
                width: 100%;
                text-align: center;
            }

            a {
                padding: 5px;
                text-decoration: none;
                font-size: 28px;
                font-weight: bold;
                color: $sunOrangeColor;
                letter-spacing: 3px;
                line-height: 2;text-transform: uppercase;
                border: 1px solid $sharkGeryColor;
                transition: .3s;

                &:hover {
                    background-color: $sharkGeryColor;
                }
            }
        }
    }
}
.navber {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$maxSmall} {
        width: 100%;
        text-align: center;
        padding: none;
    }

    @media #{$minMedium} {}

    li {
        font-size: 19px;
        text-align: center;
        list-style: none;
        a {
            display: block;
            padding: 20px;
            color: $sunOrangeColor;
            text-decoration: none;

            @media #{$maxSmall} {
                padding: 10px;
                font-size: 14px;
                height: 40px;
            }
            @media #{$minMedium} {
            
            }

            &:hover {
                background-color: $sunOrangeColor;
                color: #ddd;
            }
        }
    }
}