$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$sunOrangeColor: #EB6F3C;
$sharkGeryColor: #2E2E34;
$baseGeryColor: #9c9c9c;

$float-right: right;
$float-left: left;

$padding-top: 60px;
$padding-bottom: 60px;